@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Gothic+A1:wght@300&display=swap');

h1 {
    font-family: 'Contrail One', cursive;
    color: #48563C;
}
    
.goog-te-banner-frame{
    display:none !important
}

html,
body {
    background-color: #CBE0CE;
    font-family: 'Contrail One', sans-serif;
    color: #48563C;
    padding-bottom: 20px;
    height: 100%;
    top: 0px !important; 
    position: static !important; 
}

.btn-color1 {
    background-color: #5D8563;
    color: white;
    border: #CBE0CE solid 3px;
}

.col-padding {
    padding-left: 4%;
    padding-right: 5%;
}

.row-margin {
    margin-bottom: 3%;
    padding-right: 2%;
}

.transaction-box {
    min-height: 200px;
}

.vendor-box {
    min-height: 200px;
    margin-bottom: 5%;
}

.table-header {
    background-color: black;
    color: white;
    padding: 3%;
}

.table-footer {
    border-width: 2px !important;
    background-color: white;
    color: black;
    margin-bottom: 5%;
    padding: 3%;

}

.bottom-margin {
    margin-bottom: 4%;
}

.input-margin {
    margin-bottom: 2%;
}