@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Gothic+A1:wght@300&display=swap');

h1 {
    font-family: 'Contrail One', cursive;
    color: #48563C;
}

.goog-te-banner-frame {
    display: none !important
}

html,
body {
    background-color: #CBE0CE;
    font-family: 'Contrail One', sans-serif;
    color: #48563C;
    padding-bottom: 20px;
    height: 100%;
    top: 0px !important;
    /* The top: and position: cmds are used along with .goog-te-banner-frame to take away the Google Translate TopBar */
    position: static !important;
}

.btn-color1 {
    background-color: #5D8563;
    color: white;
    border: #CBE0CE solid 3px;
}

.col-padding {
    padding-left: 4%;
    padding-right: 5%;
}

.row-margin {
    margin-bottom: 3%;
    padding-right: 2%;
}

.transaction-box {
    min-height: 200px;
}

.vendor-box {
    min-height: 200px;
    margin-bottom: 5%;
}

.table-header {
    background-color: black;
    color: #f8f9fa;
    padding: 3%;
}

.table-footer {
    border-width: 1px 3px 3px 3px !important;
    background-color: #f8f9fa;
    color: black;
    margin-bottom: 5%;
    padding: 3%;
    border-color: #6c757d !important;

}

.bottom-margin {
    margin-bottom: 4%;
}

.input-margin {
    margin-bottom: 2%;
}

.sidebar {
    background: #f8f9fa;
    padding-top: 2%;
    /* hard coded for now, need to play around with the height */
    height: 70vh;
}

.list {
    color: black;
}

.sidebarTitle {
    font-size: 30px;
    color: black;
    margin-bottom: 20%;

}

.main-content {
    margin-top: 2%;
}

.date {
    margin-bottom: 10%;
    color: black;
}

.button {
    margin-bottom: 20%;
}

#buttonGrid {
    word-wrap: break-word;
}

#startDate {
    margin-bottom: 15%;
}

#endDate {
    margin-bottom: 20%;
}

.pageButton {
    text-align: center;
}

.pageNumber {
    display: inline-block;
}

.vendor-date {
    margin-bottom:2%;
}

.alertRow {
    pointer-events: none;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}
