@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Gothic+A1:wght@300&display=swap');

h1 {
    font-family: 'Contrail One', cursive;
    color: #48563C;
}

html,
body {
    background-color: #CBE0CE;
    /* margin: 20px; */
    font-family: 'Contrail One', sans-serif;
    color: #48563C;
    /* overflow: hidden; */
    padding-bottom: 20px;
}

.btn-color1 {
    background-color: #5D8563;
    color: white;
    border: #CBE0CE solid 3px;
}

.col-padding {
    padding-left: 4%;
    padding-right: 5%;
}

.row-margin {
    margin-bottom: 5%;
}

 
