@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Gothic+A1:wght@300&display=swap');

h1 {
    font-family: 'Contrail One', cursive;
    color: #48563C;
}

html, body {
    background-color: #CBE0CE;
    /* margin: 20px; */
    font-family: 'Gothic A1', sans-serif;
    color: #48563C;
    height: 100%;
}

.btn-color1 {
    background-color: #5D8563;
    color: white;
    border: #CBE0CE solid 3px;
}

.row {
    padding: 3%;
}